* {
    font-size: 14px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    text-decoration: underline;
}


#plus-important{
    color: red;
}

p.description_cours{
    color: dodgerblue;
}


/*article#plus-important p.description_cours{
    background-color: lightgrey;
}*/

.plus-important > p.description_cours{
    background-color: lightgrey;
}